*{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(7, 58, 102);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-items: center;
    text-align: center;
}

.cal{
    width: 250px; height: 360px;
    border:1px solid rgb(200, 178, 178); 
    margin-top: 10em;
    border-radius: 10px;
    padding: 20px 60px;
    background-image: repeating-linear-gradient(10deg, #565669 10px, #354317 50px, orange 30px, red 40px)
}

input{
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid blue;
}

#btn{
    padding: 10px 22px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}

#clear{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
h2{
    color: azure;
}

#btn:active{
    background-color: bisque ;
}

input:focus{
    color: blue;
}

#equal{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

button:hover{
    background-color: aqua;
    transform: translateY(1px);
    transition: 0.9s;
}

#clear:hover{
    transform: rotate(4deg);
}